</div>
<div class="navbar-inner navbar-fixed-bottom">
<b><div style="text-align:center; padding-top:10px"><a href="http://www.nstu.edu.bd">www.nstu.edu.bd , Copyright 2014</a><div></b>
</div>
</body>
</html>