</div>
<div class="navbar-inner navbar-fixed-bottom">
<p style="text-align:center; padding-top:10px"><a href="http://www.nstu.edu.bd"><b>Developed By CSTE, Copyright 2014</b></a><p>
</div>
</body>
</html>