<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="http://favicon-generator.org/download/2014-12-22/6b8fc447c50d9c11eab115a3d5e04871.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
